{% extends 'base.html' %}

{% block content %}
{% if articles or sport_articles%}
<div style="margin: 5ex">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Name, url</th>
            <th scope="col">Category</th>
            <th scope="col">Title</th>
            <th scope="col">Published</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
        <tr>
            <td><a href="{{ article.source.url }}">{{article.source.name}}</a></td>
            <td>{{article.category}}</td>
            <td>{{article.title}}</td>
            <td>{{article.published_date}}</td>
        </tr>
        {% endfor %}
        {% for article in sport_articles %}
        <tr>
            <td><a href="{{ article.url }}">{{article.source_name}}</a></td>
            <td>{{article.category}}</td>
            <td>{{article.title}}</td>
            <td>{{article.published_date}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}